<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">


    <services>
        <service id="dealerpickup.delivery.service" class="DealerPickup\EventListeners\DeliveryListener">
            <argument type="service" id="request_stack" />
            <tag name="kernel.event_subscriber"/>
        </service>
<!--         <service id="dealerpickup.mailing.service" class="DealerPickup\EventListeners\SendDeliveryEmail">
            <argument type="service" id="mailer" />
            <tag name="kernel.event_subscriber"/>
        </service> -->
    </services>


    <hooks>
        <hook id="dealerpickup.front.hookmanager" class="DealerPickup\Hook\FrontendHookManager">
            <tag name="hook.event_listener" event="order-delivery.extra" type="front" method="onOrderDeliveryExtra" />
            <tag name="hook.event_listener" event="order-delivery.stylesheet" type="front" templates="css:dealerpickup/assets/css/styles.css" />
            <tag name="hook.event_listener" event="order-invoice.delivery-address" type="front" method="onOrderInvoiceDeliveryAddress"/>
            <tag name="hook.event_listener" event="account-order.delivery-address" type="front" method="onAccountOrderDeliveryAddress"/>
        </hook>
    </hooks>

</config>
